/*	Main background image*/
.videoHolder .screen.quiz {
  background-image: url("https://placehold.jp/cdceda/cdceda/1280x720.png") ;
}
/*	Color of left footer text */
.ivqContainer .ftr-left {
  color: #;
}
/*	Buttons in welcome screen and completed screen*/
.ivqContainer .confirm-box,
.ivqContainer .button-box-attr {
  border-radius: 0;
  background-color: #;
  color: #;
}
/*	Buttons hover in welcome screen and completed screen*/
.ivqContainer .confirm-box:hover,
.ivqContainer .button-box-attr:hover {
  color: #;
  background-color: #;
}

/*	Quiz download background image */
.ivqContainer .pdf-download-img {
  background-image: ;
}

/*  Quiz answer background image  */
.ivqContainer .single-answer-box-bk {
  background-image: ;
}

/*	Quiz answer background image on hover */
.ivqContainer .single-answer-box-bk:hover:not(.wide) {
  background-image: ;
}
/*	focused answer box*/
.ivqContainer .single-answer-box-txt-wide {
  color: #;
}

/*	Quiz answer background image when applied  */
.ivqContainer .single-answer-box-bk-apply {
  background-image: ;
}

/*	Quiz button when applied background image  */
.ivqContainer .qApplied {
  background-image: ;
}

/*	Quiz button background image */
.ivqContainer .qContinue {
  background-image: ;
}

/*	Quiz hint background image */
.ivqContainer .hint-why-box {
  color: #;
  background-image: ;
}

/*  Quiz bubble done large  */
.ivqContainer .q-box {
  background-image: ;
}

/*	Quiz done  */
.controlBarContainer .quizDone-cont {
  background-image: ;
}

/*	Quiz bubble hover	*/
.bubble-cont .bubble-un-ans:hover {
  background-image: ;
}

/*	Text color of welcome text	*/
.ivqContainer .welcomeMessage{
  color: #;
}

/*	Text color of welcome title */
.ivqContainer .welcome{
  color: #;
}
/*	Text color of tips title */
.ivqContainer .InvideoTipMessage{
  color: #;
}
/*	Text color of PDF text */
.pdf-download-txt{
  color: #;
}
